/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/********************************************************************************
*************************************************************************************/


body {
    background-color: #ccccff;
    text-align:center;
    margin: 0 auto;
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 14px;
}

#container {
    padding-top: 20px;
    width: 1080px;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
}

#content {
    clear: both;
    overflow: hidden;
}

#logo {
    padding-bottom: 30px;
}

#logo a {
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Arial;
    color: #0066cc;
    border-bottom:  5px solid #000033;
}

#logo a:hover {
    text-decoration: none;
}

#logo p {
    display: block;
    color: #0066cc;
    font-size: 11px;
    font-style: italic;
    margin-top: -8px;
    margin-left: 130px;
}

#header {
    margin-bottom: 20px;
}

#be {
    float: right;
    padding: 10px;
    background-color: white;
    border-bottom: 2px solid #9999ff;
}

#be a {
    color: red;
}

#menu ul li {
    display: inline-block;
    padding: 10px;
    background-color: white;
    border-bottom: 2px solid #9999ff;
}

#menu ul li:hover, #be:hover  {
    border-bottom: 2px solid blue;
}

#menu a:hover, #be a {
    text-decoration: none;
}

h3, form, span {
    display: block;
}

a {
    color: black;
    text-decoration: none;
}

h3 a {
    text-transform: uppercase;
    color: #ffff99;
    font-size: 18px;
}

h3 a:hover {
    color: white;
}

a:hover {
    color: #000066;
    text-decoration: underline;
}

.price {
    color: #006600;
    font-weight: bold;
    font-size: 16px;
}

#catlist {
    float: left;
    padding-bottom: 5px;
    background-color: white;
    width: 150px;
}

#catlist ul li {
    display: block;
    font-size: 16px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
}

.frontimage {
    height: 100px;
    width: 100px;
}

#products {
    float: right;
    width: 930px;
    overflow: hidden;
}

.product {
    overflow: hidden;
    padding: 3px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #9999ff;
    width: 294px;
    height: 106px;
    overflow: hidden;
    float: left;
}

.prodim
{
    float: left;
    width: 100px;
    border: 2px solid black;
}

.prodinfo
{
    float: right;
    width: 190px;
}

.prodinfo span, .prodinfo h3 {
    padding-left: 5px;
    padding-right: 5px;
}

#singleprod {
    float: right;
    width: 924px;
    padding: 3px;
}

.sprodim {
    float: left;
    padding-left: 10px;
}

.sprodimage {
    border: 3px solid black;
    max-width: 300px;
    max-height: 300px;
}

.sprodinfo {
    float: right;
    width: 608px;  
}

.sprodinfo span, .sprodinfo h3 {
    padding-left: 5px;
    padding-right: 5px;
}

.sprodinfo h3 {
    font-size: 25px;
    color: #9999ff;
    padding-bottom: 10px;
}

.sprodinfo span {
    padding-bottom: 10px;
}

.noproduct {
    margin-left: 10px;
    font-size: 16px;
    border-left: 5px solid #9999ff;
    border-bottom: 2px solid #9999ff;
}

.small {
    width: 50px;
    height: 50px;
}

.padded {
    margin-left: 30px;
}

#cart {
    padding-left: 10px;
    float: right;
    width: 920px;
}

#cart table {
    background-color: #9999ff;
}

#cart table h3{
    font-weight: bold;
}

table, td, tr{
    border: 2px solid white;
}   

td {
    padding-left: 5px;
    padding-right: 5px;
}

.remove {
    color: red;
    font-weight: bold;
    display: block;
}

.no{
    color: red;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}

.cartimage {
    max-width: 100px;
    max-height: 100px;
    border: 2px solid black;
}

.bemenu {
    background-color: white;
    padding: 5px;
    color: red;
    margin-bottom: 20px;
    display: inline-block;
}

.config {
    display: block;
}

.paginator {
    clear: both;
    margin-left: 10px;
}

.paginator a {
    display:inline-block;
    background-color: blue;
    color: white;
    margin: 5px;
    padding: 5px;
}
